{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.date) }}
    {{ form_row(form.description) }}
    {{ form_row(form.isFinal) }}
    {{ form_row(form.state) }}
    {{ form_row(form.finished) }}
    <button class="btn btn-primary">Modifier</button>
{{ form_end(form) }}