{% extends 'base.html.twig' %}

{% set hasNavTabs = true %}

{% block title %}{{ project.uid }} — {{ project.title }}{% endblock %}

{% block navTabs %}
    {{ include('partials/_project_nav_header.html.twig') }}
{% endblock %}

{% block body %}
    <div class="w-75 mx-auto mt-5">
        <h2 class="h1 mb-5">Evaluations</h2>


        {% for member in project.members %}

        <h4 class="h4 mt-5">{{ member }}</h4>
        <hr>
        <div class="list-group">
            {% for evaluation in member.evaluations %}
                <div class="list-group-item d-flex justify-content-between align-items-start">
                <span class="text-warning">
                        {{ feather('file') }}
                </span>
                    <span class="ms-2 me-auto">
                    <span class="fw-bold">Évaluation du {{ evaluation.createdAt | date("d.m.Y") }}</span><br>
                    <span class="text-muted">Données par {{ evaluation.coach }}</span><br>
                </span>
                    <div>
                        {% for note in evaluation.notes %}
                        <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ note.name }}" class="badge bg-secondary">
                            {{ note.value }}
                        </span>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="list-group-item d-flex justify-content-between align-items-start">
                <span class="text-danger">
                    {{ feather('x') }}
                </span>
                    <span class="ms-2 me-auto">
                    <span class="fw-bold">Aucune évaluation</span>
                </span>
                </div>
            {% endfor %}
            <a href="{{ path('project.notes.student.new', {'id': member.id}) }}" class="list-group-item d-flex justify-content-between align-items-start">
                <span class="text-success">
                    {{ feather('plus') }}
                </span>
                <span class="ms-2 me-auto">
                    <span class="fw-bold">Ajouter une évaluation</span>
                </span>
            </a>
        </div>

        {% endfor %}

    </div>
{% endblock %}


