{{ form_start(form, {attr: {class: "w-75 mx-auto"} }) }}
<div class="row">
    <div class="col">
        {{ form_row(form.email) }}
    </div>
    <div class="col">
        </div>
        <div class="col">
            {{ form_row(form.isVerified) }}
        </div>
    </div>
    <div class="row">
        {{ form_row(form.person) }}
    </div>
    <button class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}