<main class="w-75 mx-auto mt-5">
    <span class="badge bg-info text-dark">{{ mandate.stateLabel }}</span>
    <h2 class="h1 mb-5">Informations</h2>
    <h3 class="h3">{{ mandate.title }}</h3>
    <p class="fs-5 col-md-8">{{ mandate.description | nl2br }}</p>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
        <div class="col-md-6">
            <h2>Détails</h2>
            <p>Détails de la demande de mandat</p>
            <ul class="">
                <li><strong>Date souhaitée : </strong>{{ mandate.desiredDate | date("d.m.Y") }}</li>
                <li><strong>Client : </strong>{{ mandate.client }}</li>
                <li><strong>Date de création : </strong>{{ mandate.createdAt | date("d.m.Y H:i") }}</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2>Fichiers</h2>
            <p>Voici les fichiers fournis par le client dans le but d'étailler sa demande de mandat.</p>
            <ul class="icon-list">
                {% for file in mandate.files %}
                    <li><a href="{{vich_uploader_asset(file)}}">{{ file.title }}</a></li>
                {% else %}
                    <li class="text-muted">Aucun fichier</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>