{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    {% for table in tables %}
        {% set class = table.class %}
        <h2 class="h3">{{ class }}</h2>
        <div class="table-container mb-5 ">
            <table class="planning-table">
                <thead>
                    {{ include('partials/planning/_day_row.html.twig') }}
                    {#{{ include('components/_planning_days.html.twig') }}#}
                </thead>
                <tbody>

                {% for student in table.students %}
                    <tr>
                        <th>{{ student.student }}</th>
                        {% for i in 0..table.dayCount %}
                            <td class="border-1"></td>
                        {% endfor %}
                    </tr>
                    {{ include('partials/planning/_project_row.html.twig') }}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}