{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nom complet</th>
            <th scope="col">Email</th>
            <th scope="col">Entreprise</th>
            <th scope="col">Numéro de téléphone</th>
            <th scope="col" class="text-end">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.company }}</td>
            <td>{{ client.phoneNumber ?? "Aucun numéro de téléphone" }}</td>
            <td class="d-flex justify-content-end gap-2">
                <a href="{{ path('copil.clients.show', {'id': client.id}) }}" class="btn btn-sm btn-outline-primary">Afficher</a>
                <div class="dropdown">
                    <button class="btn btn-sm btn-link" type="button" id="dropdownMenuButton{{ client.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ feather('more-vertical') }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ client.id }}">
                        <li><a class="dropdown-item" href="{{ path('copil.clients.show.mandates', {'id': client.id}) }}">Afficher les mandats</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}