{% extends 'app_base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            <div class="header">
                <h1>Que souhaitez-vous faire ?</h1>
            </div>
            <div class="body">
                <nav>
                    {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                    <a class="nav-item" href="{{ path('security.login') }}">
                        <span class="icon">{{ feather('log-in') }}</span>
                        <span class="nav-item__text">Me connecter</span>
                    </a>

                    <a class="nav-item" href="{{ path('security.register_client') }}">
                        <span class="icon">{{ feather('edit-2') }}</span>
                        <span class="nav-item__text">Devenir client</span>
                    </a>
                    {% endif %}

                    {% if is_granted('ROLE_CLIENT') %}
                    <a class="nav-item" href="{{ path('app.client.index') }}">
                        <span class="icon">{{ feather('book') }}</span>
                        <span class="nav-item__text">Mes mandats</span>
                    </a>
                    <a class="nav-item" href="#">
                        <span class="icon">{{ feather('zap') }}</span>
                        <span class="nav-item__text">Afficher un mandat</span>
                    </a>
                    {% endif %}

                    {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_CPNV') %}
                    <a class="nav-item" href="{{ path('app.client.new_mandate') }}">
                        <span class="icon">{{ feather('award') }}</span>
                        <span class="nav-item__text">Accéder au formulaire de demande de mandat</span>
                    </a>
                    {% endif %}

                    {% if is_granted("ROLE_CPNV") %}
                    <a class="nav-item" data-turbo="false" href="{{ path('panel.home') }}">
                        <span class="icon">{{ feather('activity') }}</span>
                        <span class="nav-item__text">Accéder au panel</span>
                    </a>
                    {% endif %}

                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <a class="nav-item" href="{{ path('security.logout') }}">
                            <span class="icon">{{ feather('log-out') }}</span>
                            <span class="nav-item__text">Se déconnecter</span>
                        </a>
                    {% endif %}
                </nav>
            </div>
        </div>
        <div class="gradient-bg">
            <div class="header">
                <p class="text-muted">Bienvenue sur</p>
                <h2>L’application de gestion des projets de la Junior Entreprise</h2>
            </div>
            <div class="body">
                <p class="mb4">Cette application est à destination des</p>
                <div class="stylized-list ml2">
                    <div class="list-item">
                        <div class="icon">{{ feather('tool') }}</div>
                        <p>Étudiants <span class="text-muted">en médiamatique du CPNV de Ste-Croix de 3e année, afin d’accéder à la gestion de leurs différents projets.</span></p>
                    </div>

                    <div class="list-item">
                        <div class="icon">{{ feather('activity') }}</div>
                        <p>Clients <span class="text-muted">afin d’accéder au suivi de leurs différents projets. Ainsi qu’à effectuer des demandes de mandat.</span></p>
                    </div>

                    <div class="list-item">
                        <div class="icon">{{ feather('shield') }}</div>
                        <p>Enseignants <span class="text-muted">afin de suivre et d'assister les étudiants dans leurs différentes tâches. Ainsi qu'à gérer la réception des nouvelles demandes de mandat.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}