<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Junior Entreprise</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>


    <div class="container-fluid">
        <div class="row sticky-top">
            <header class="p-3 bg-dark text-white" style="z-index: 1000000">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <img src="{{asset('assets/images/logo.svg')}}" width="160" alt="Logo de la Junior Entreprise">
                    </a>

                    <div class="text-end">
                        {% if app.user is defined %}
                            <span>{{ app.user }}</span>
                        {% else %}
                        <a href="{{ path('security.login') }}" class="btn btn-outline-light me-2">Se connecter</a>
                        <a href="{{ path('security.register') }}" class="btn btn-warning">S'inscrire</a>
                        {% endif %}
                    </div>
                </div>
            </header>
        </div>

        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse mt-4">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        {{ menu('Tableau de bord', 'panel.home', 'bar-chart-2', 'home') }}
                        {% if is_granted("ROLE_STUDENT") %}
                            {{ menu('Mes projets', 'panel.my_projects', 'inbox', 'projects', 'my-projects') }}
                        {% endif %}
                    </ul>

                    {% if is_granted("ROLE_DIRECTOR") %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Direction</span>
                        {#<a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>#}
                    </h6>
                    <ul class="nav flex-column mb-2">
                        {{ menu('Projets', 'project.index', 'inbox', 'projects') }}
                        {{ menu('Mandats', 'direje.mandate.index', 'bookmark', 'direje.mandate') }}
                        {{ menu('Effectif', 'direje.resources.index', 'bookmark', 'direje.resources') }}
                        {#{{ menu('Projets', 'dir.project.index', 'inbox', 'dir.project') }}#}
                        {#{{ menu('Mes équipes', 'dir.teams.index', 'users', 'dir.teams') }}#}
                    </ul>
                    {% endif %}

                    {% if is_granted("ROLE_COPIL") %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>COPIL</span>
                        {#<a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>#}
                    </h6>
                    <ul class="nav flex-column mb-2">
                        {{ menu('Projets', 'project.index', 'inbox', 'projects') }}
                        {{ menu('Mandats', 'admin.mandate.index', 'bookmark', 'admin.mandate') }}
                        {{ menu('Palnning', 'copil.planning.index', 'map', 'copil.planning') }}
                        {{ menu('Clients', 'copil.clients.index', 'users', 'copil.clients') }}
                        {{ menu('Effectifs', 'copil.resource.index', 'users', 'copil.resources') }}
                    </ul>

                    {% endif %}

                    {% if is_granted("ROLE_ADMIN") %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Administration</span>
                        {#<a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>#}
                    </h6>
                    <ul class="nav flex-column mb-2">
                        {{ menu('Utilisateurs', 'admin.user.index', 'users', 'admin.user') }}
                        {{ menu('Paramètres', 'admin.settings.index', 'settings', 'admin.settings') }}
                    </ul>
                    {% endif %}
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="pt-3 pb-2 mb-5 {% if hasNavTabs is not defined %}border-bottom{% endif %}">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                        <h1 class="h2">{% block title %}Titre{% endblock %}</h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group me-2">
                                {% block headerBtn %}
                                {% endblock %}
                            </div>
                            {#<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>#}
                        </div>
                    </div>
                    <div>{% block navTabs %}{% endblock %}</div>
                </div>
                {% block body %}{% endblock %}
            </main>

            <footer class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5 d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">© 2021 Company, Inc</p>

                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <img src="{{asset('assets/images/logo.png')}}" height="32" alt="">
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
            </footer>
        </div>
    </div>

    </body>
</html>

