<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin.settings.index') }}" {{ tabActive('tab1') }}>Général</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin.settings.tools') }}"  {{ tabActive('tab2') }}>Outils</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin.settings.updates') }}" {{ tabActive('tab3') }}>Mise à jours</a>
    </li>
</ul>