{% extends 'base.html.twig' %}

{% set hasNavTabs = true %}

{% block navTabs %}
    {{ include('partials/admin/settings/_settings_tabs_header.html.twig') }}
{% endblock %}

{% block title %}Paramètres{% endblock %}

{% block body %}
    <div class="w-75 mx-auto mt-5">
        <h2 class="h1 mb-5">Modification des paramètres</h2>
        {{ form_start(form) }}
        {% for setting in form.settings %}
            <fieldset>
                {{ form_row(setting.name) }}
                {{ form_row(setting.value, {label: setting.name.vars.value }) }}
            </fieldset>
        {% endfor %}
        <button class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}


